table {
    border: 10px solid;
    background-color: rgb(138, 255, 138);
    color: rgb(255, 191, 96); 
    /* betűszín */
    font-family: 'Courier New', Courier, monospace;
    /* betűstílus */
    font-size: 30px;
    /* betűméret */
    border-color: black;
  }
td{
    background-color: rgb(0, 138, 0);
}
tr{
    background-color: rgb(0, 85, 25);
}
#keses{
    background-color: red;
}
#eredeti{
    background-color: rgb(0, 235, 0);
    color: black;
}
#kep{
    height: 50px;
}
.elsö_oszlop{
    background-color: aqua;
    color: black;
}