table {
    border: 10px solid;
    background-color: darkblue;
    color: rgb(255, 191, 96); 
    /* betűszín */
    font-family: 'Courier New', Courier, monospace;
    /* betűstílus */
    font-size: 30px;
    /* betűméret */
    border-color: black;
  }
th{
    background-color: rgb(0, 0, 190);
    color: rgb(165, 122, 58);
  }
#keses{
    background-color: purple;
}
#eredeti{
    background-color: rgb(157, 109, 235);
    color: black;
}
#kep{
    height: 50px;
}
tbody tr:nth-child(odd){
    background-color: aqua;
}
tbody tr:nth-child(even){
    background-color: blue;
}
#induló_keses{
    background-color: lightblue;
}
